/*整站样式*/
html, body, dl, dd, img, form, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; border: 0; }
body { font-size: 12px; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; color: #333; }
ul, ol, li { list-style-type: none; }
img { border: 0; vertical-align: middle }
select, input, select { vertical-align: middle; outline: none; }
table { border-collapse: collapse; border-spacing: 0 }
iframe { border: none; }
a:link { color: #666666; text-decoration: none; }
a:visited { color: #666666; text-decoration: none; }
a:hover { color: #0093ff; text-decoration: none; }
a:active { color: #0093ff; text-decoration: none; }
.c { clear: both; font-size: 0; line-height: 0; height: 0; visibility: visible; }
.h { display: none; visibility: visible; }
.wrap { border: 0; padding: 0; width: 1200px; margin: 0 auto; *zoom:1;
}
.wrap:after { clear: both; content: ""; display: table; }
.fix { *zoom:1;
}
.fix:after { clear: both; content: ""; display: table; }
.fl { float: left; }
.fr { float: right; }
.posr { position: relative; }
.btn { font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; font-weight: normal; }
.px20 { height: 20px; line-height: 20px; }
/* 编辑器内容样式 凡是编辑器修改区域加上 */
.editor { line-height: 24px; text-align: left; }
.editor p { text-indent: 2em; }
.editor ol li { list-style-type: circle; margin-left: 25px; }
.editor ul li { list-style-type: square; margin-left: 25px; }
/* 分页样式 */
.page { text-align: center; margin-top: 20px; }
.page a { display: inline-block; padding: 5px 10px; margin-right: 10px; color: #fff; border: 1px solid #2eafbb; color: #2eafbb; }
.page a:hover { background-color: #2eafbb; color: #fff; }
.page a.now { background-color: #2eafbb; color: #fff; }
/* index */
.section { overflow: hidden; }
.header { height: 100px; }
.logo { padding-top: 24px; }
.top { text-align: right; color: #999; padding-top: 12px; *position:relative;
*z-index:2;
}
.nav { margin-top: 18px; position: relative; z-index: 999; }
.nav li { float: left; padding: 0 20px; position: relative; z-index: 9999;width: 58px;text-align: center; }
.nav li a { font-size: 14px; color: #333; line-height: 24px; display: inline-block; }
.nav .nav_icon { background: #2eafbb; height: 1px; line-height: 1px; display: inline-block; position: relative; top: -6px; *top:0px;
}
.nav li ul { position: absolute; top: 24px; left: 0px; display: none; z-index: 99999; padding: 10px 0 0 0; }
.nav li ul li { height: 28px; background: #fff; }
.nav li ul li a { color: #555; line-height: 28px; }
.nav li ul li:hover, .nav li ul li:hover a, .nav li ul li a:hover { color: #fff; background: #2eafbb; }
.banner { width: 100%; overflow: hidden; position: relative; height: 430px; }
.banner .pic { position: relative; height: 100%; }
.banner .pic li { float: left; width: 100%; position: relative; background-repeat: no-repeat; background-position: center; }
.banner .pic li a { display: block; width: 100%; height: 430px; }
.banner .list { text-align: center; position: absolute; bottom: 40px; width: 100%; }
.banner .list li { display: inline-block; *zoom:1;
*display:inline;
width: 50px; border-bottom: 2px solid #fff; height: 20px; margin: 0 7px; cursor: pointer; }
.banner .list .on { border-bottom: 2px solid #2eafbb; }
.b_title { text-align: center; position: relative; top: 190px; }
.b_text { text-align: center; position: relative; top: 220px; }
.b_info { text-align: center; position: relative; top: 240px; }
/* home service */
.home_title { text-align: center; padding-top: 60px; }
.serve_column { margin-right: -60px; margin-top: 40px; overflow: hidden; }
.serve_column ul { width: 1260px; padding-bottom: 20px; *padding-bottom:40px;
}
.serve_column li { float: left; width: 272px; height: 390px; background: #ffffff; margin-right: 40px; margin-bottom: 40px; }
.serve_column li dt.pic { border: 1px solid #fff; width: 270px; height: 200px; overflow: hidden; position: relative; }
.serve_column li dt.pic img { position: absolute; left: 0px; top: 0px; }
.serve_column li dt.t { height: 66px; line-height: 66px; }
.serve_column li dt.t a { font-size: 18px; color: #333; font-weight: normal; }
.serve_column li dt.t a:hover { color: #2eafbb; }
.serve_column dd { line-height: 24px; color: #999; display: list-item; white-space: nowrap; font-size: 12px; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; }
.succeed { background: url("../images/h07.jpg") 0 0 repeat-x; min-height: 168px; width: 100%; animation: animatedBackground 30s linear infinite; -webkit-animation: animatedBackground 30s linear infinite; -moz-animation: animatedBackground 30s linear infinite; }
.succeed_title { text-align: center; padding-top: 60px; }
.succeed_text { padding-bottom: 50px; }
.succeed_text .text { text-align: center; font-size: 14px; color: #333; width: 780px; height: 76px; margin: 36px auto 0px auto; line-height: 1.8;overflow: hidden; text-indent: 2em;}
.succeed_list { width: 100%; }
.container { padding-bottom: 0px; }
.succeed_list ul { width: 100%; font-size: 0; }
.succeed_list li { width: 20%; float: left; overflow: hidden; }
.succeed_list li img { max-width: 100%; }
.succeed_list li img { opacity: 0.92; transform: scale(1); -mo-transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); transition: all 0.8s ease-out 0s; -webkit-transition: all 0.8s ease-out 0s; -moz-transition: all 0.8s ease-out 0s; -mo-transition: all 0.8s ease-out 0s; }
.succeed_list li:hover img { opacity: 1; transform: scale(1.4); -webkit-transform: scale(1.4); -moz-transform: scale(1.4); transition: all 0.6s ease-out 0s; -webkit-transition: all 0.6s ease-out 0s; -moz-transition: all 0.6s ease-out 0s; -mo-transition: all 1s ease-out 0s; }
.home_page { text-align: center; margin-top: 50px; }
.home_page a { display: inline-block; font-size: 20px; font-weight: 200; line-height: 38px; width: 38px; text-align: center; margin: 0 3px; color: #999; border: 1px solid #999; font-family: '宋体', Arial; font-weight: lighter; }
.home_page a:hover { color: #333; border-color: #333; }
/*home_news*/
.home_news { background: url("../images/h19.jpg") 0 0 repeat; height: 100%; animation: animatedBackground 20s linear infinite; -webkit-animation: animatedBackground 20s linear infinite; -moz-animation: animatedBackground 20s linear infinite; overflow: hidden; }
.hn_main { width: 580px; position: relative; padding-bottom: 24px; margin-top: 40px; }
.hn_main h2 { margin-left: 40px; margin-top: 32px; }
.hn_main h2 a { font-size: 16px; color: #fff; font-weight: normal; }
.hn_main .time { color: #fff; font-weight: normal; margin-left: 40px; margin-top: 14px; }
.hn_main .time i { background: url("../images/sprite.png") -40px 0 no-repeat; display: inline-block; width: 16px; height: 18px; vertical-align: middle; margin-right: 10px; }
.hn_main .text { padding: 0 40px; margin-top: 12px; height: 61px; }
.hn_main .text a { line-height: 24px; color: #fff; display: block; height: 48px; overflow: hidden; }
.hn_column { width: 580px; margin-top: 30px; }
.hn_column a { color: #fff; font-weight: normal; }
.hn_column li { margin-top: 10px; }
.hn_column h2 { font-size: 16px; color: #fff; background: url("../images/h18.jpg") left no-repeat; line-height: 40px; text-indent: 60px; }
.hn_column .on { background: url("../images/h17.jpg") left no-repeat; }
.hn_column .text { padding: 28px 40px; line-height: 24px; height: 140px; color: #fff; display: none; border-top: 1px solid #7c9bad; }
.home_more { text-align: center; margin-top: 40px; padding-bottom: 60px; }
.home_more .btn { display: inline-block; color: #fff; line-height: 38px; padding: 0 24px; border: 1px solid #fff; position: relative; z-index: 2; }
.top_news_img { width: 580px; height: 250px; }
/* home partner */
.picMarquee-left { width: 1300px; overflow: hidden; position: relative; z-index: 2; margin: 40px auto 0px auto; padding-bottom: 20px; }
.picMarquee-left .hd { overflow: hidden; height: 40px; position: absolute; top: 30px; left: 0px; z-index: 4; width: 100%; }
.picMarquee-left .hd a { font-size: 20px; display: block; width: 38px; height: 38px; line-height: 38px; overflow: hidden; cursor: pointer; color: #999; font-weight: lighter; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; border: 1px solid #999; text-align: center; }
.picMarquee-left .hd a:hover { color: #333; border-color: #333; }
.picMarquee-left .hd .next { float: right; }
.picMarquee-left .hd .prev { float: left; }
.picMarquee-left .bd { width: 1178px; margin: 0 auto; position: relative; z-index: 31; }
.picMarquee-left .bd ul { overflow-x: hidden; }
.picMarquee-left .bd ul li a { display: block; width: 180px; height: 100px; }
.picMarquee-left .bd ul li { margin: 0 7px; float: left; _display: inline; text-align: center; border: 1px solid #ddd; width: 180px; height: 100px; overflow: hidden; }
.picMarquee-left .bd ul li img { transform: scale(1); transition: All .6s ease-in-out; }
.picMarquee-left .bd ul li:hover img { transform: scale(1.1); transition: All .6s ease-in-out; position: relative; z-index: 2; }
.picMarquee-left .bd ul li .pic { text-align: center; }
.picMarquee-left .bd ul li .pic img { width: 178px; height: 98px; display: block; }
.contact { margin-top: 40px; padding: 30px 0; background: #2eafbb url(../images/footbg.jpg) center no-repeat; height: 217px; overflow: hidden; }
.contact h2 { margin-bottom: 28px; }
.contact h2 a { font-size: 18px; color: #fff; font-weight: normal; }
.home_about { width: 250px; }
.home_about dt { margin-bottom: 24px; }
.home_about dt a { font-size: 18px; color: #fff; font-weight: normal; }
.home_about dd { color: #eeeeee; line-height: 28px; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif;height: 112px; overflow: hidden; }
.home_about .more { color: #fff; display: inline-block; border: 1px solid #cccccc; line-height: 38px; padding: 0 24px; margin-top: 12px; }
.home_about .more:hover { border-color: #fff; }
.home_case { width: 300px; margin-left: 45px; }
.home_case li { border-top: 1px solid #ccc; height: 52px; padding: 14px 0; }
.home_case li:first-child { border: 0; padding-top: 3px; }
.home_case li img { float: left; margin-right: 18px; }
.home_case h5 { margin-top: -5px; line-height: 28px; }
.home_case h5 a { font-size: 14px; color: #fff; font-weight: normal; }
.home_case .text { line-height: 22px; }
.home_case .text a { color: #dddddd; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; }
.home_case .label { color: #cccccc; line-height: 28px; }
.home_service { width: 230px; margin-left: 45px; }
.home_service a.sub { font-size: 12px; color: #fff; line-height: 38px;height: 38px;overflow: hidden; width: 98px; display: inline-block; border: 1px solid #cccccc; text-align: center; margin-right: 12px; margin-bottom: 12px; margin-top: 3px; }
.home_service a.sub:hover { border-color: #fff; }
.home_contact { margin-left: 40px; }
.home_contact li { color: #ddd; margin-bottom: 14px; }
.home_contact li i { display: inline-block; width: 18px; height: 18px; margin-right: 10px; vertical-align: middle; }
.home_contact li .addres { background: url("../images/sprite.png") no-repeat 0 -20px; }
.home_contact li .weibo { background: url("../images/sprite.png") no-repeat -20px -20px; }
.home_contact li .email { background: url("../images/sprite.png") no-repeat -40px -20px; }
.home_contact li .weixin { background: url("../images/sprite.png") no-repeat -80px -20px; }
.home_contact li .call { background: url("../images/sprite.png") no-repeat -0px -0px; }
.home_contact li a { color: #ddd; }
.blogroll { line-height: 28px; color: #999; text-align: center; padding: 30px 0; }
.blogroll a { color: #999; display: inline-block; }
.blogroll a:hover { color: #333; }
.blogroll .copyright { margin-top: 16px; }
/*inside*/
.inside_banner { position: relative; z-index: 1; }
.inside_banner_service { background: url("../images/service_banner.jpg") no-repeat center; height: 400px; }
.inside_banner_mobile { background: url("../images/m_banner.jpg") no-repeat center; height: 400px; }
.inside_banner_solution { background: url("../images/sl_banner.jpg") no-repeat center; height: 400px; }
.inside_banner_news { background: url("../images/n_banner.jpg") no-repeat center; height: 400px; }
.inside_banner .wrap { height: 100%; }
.about { overflow: hidden; }
.about_tab { width: 1200px; margin: 0 auto; position: relative; height: 100%; }
.about_tab ul { position: absolute; bottom: 0; left: 0; font-size: 0; }
.about_tab li { display: inline-block; width: 100px; text-align: center; vertical-align: bottom; *display: inline;
zoom: 1; }
.about_tab li a { font-size: 14px; color: #fff; line-height: 40px; }
.about_tab li.on a { line-height: 100px; }
.about_tab .blue { background: #43bcc7; }
.about_tab .green { background: #a6d250; }
.about_tab .yellow { background: #eab055; }
.about_tab .orange { background: #e9d356; }
.about_title { text-align: center; padding-top: 60px; padding-bottom: 32px; }
.about_main { width: 600px; position: relative; }
.about_pic { position: relative; width: 490px; }
.about_pic img { position: absolute; }
.about_cont { padding-bottom: 30px; margin-bottom: 30px; position: relative; }
.about_main .about_cont:first-child { border-bottom: 1px dashed #d3d3d3; }
.about_cont h2 { font-size: 26px; color: #333; font-weight: normal; margin-bottom: 5px; }
.about_cont h4 { font-size: 16px; color: #333; font-weight: normal; background: url("../images/a03.jpg") no-repeat left bottom; padding-bottom: 8px; margin-bottom: 30px; white-space: nowrap; }
.about_cont .text { font-size: 14px; color: #333; line-height: 28px; }
.about_cont li { margin-bottom: 14px; width: 300px; float: left; }
.about_cont li span { background: #4bcdd9; color: #fff; font-size: 10px; padding: 0 4px; margin-right: 8px; line-height: 12px; *padding: 2px 4px;
}
.culture { background: url("../images/a04.jpg") no-repeat center; min-height: 540px; }
.culture .about_cont:first-child { border: 0; }
.zhizi { background: #f7f7f7; text-align: center; padding-bottom: 74px; }
.zhizi ul { display: inline-block; *display: inline;
zoom: 1; }
.zhizi li { float: left; margin: 0 13px; }
.jion { background: url("../images/a14.jpg") no-repeat center; min-height: 720px; }
.jion .test { border-width: 78px 0; border-style: solid; border-color: #2eafbb transparent transparent transparent; width: 0; height: 0; }
.jion .about_title { position: relative; z-index: 3; }
.jion_box { width: 1200px; margin: 0 auto; position: relative; }
.jion_img { position: absolute; top: 15px; left: 0; }
.jion_img>img:first-child { position: relative; top: 151px; margin-right: -3px; }
.jion_img img { }
.jion_tab { position: absolute; top: 151px; left: 75px; }
.jion_tab li { float: left; width: 150px; height: 150px; line-height: 150px; text-align: center; font-size: 20px; color: #fff; text-align: center; background: url("../images/a19.png") no-repeat; cursor: pointer; }
.jion_tab .post { display: none; }
.jion_tab li:hover { background: url("../images/a18.png") no-repeat; }
.jion_tab li:hover .post { display: block; }
.jion_tab li:hover .icon { display: none; }
.jion_tab li.on { background: url("../images/a18.png") no-repeat; }
.jion_tab li.on .post { display: block; }
.jion_tab li.on .icon { display: none; }
.jion_info { margin-left: 250px; margin-top: 260px; }
.jion_info dl { display: none; }
.job_tab { display: none; width: 540px; }
.job_tab li { float: left; font-size: 20px; color: #333; border-left: 2px solid #d9d9d9; margin-right: 16px; padding-left: 16px; line-height: 20px; }
.job_tab li:first-child { border: 0; padding-left: 0; cursor: auto; }
.job_tab .on { color: #2eafbb; }
.job_tab .intro { font-size: 14px; color: #333; line-height: 28px; margin-top: 16px; display: none; }
.jion .send { font-size: 16px; color: #fff; display: inline-block; width: 160px; line-height: 160px; text-align: center; background: url("../images/a17.png") no-repeat; position: absolute; right: 222px; top: 444px; }
.case_demo { position: absolute; bottom: -384px; }
.case_demo li { float: left; width: 384px; position: relative; padding: 0px; }
.case_info { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px 20px; }
.case_info h3 { font-size: 16px; color: #fff; position: relative; z-index: 1; font-weight: normal; padding-bottom: 6px; }
.case_info .text { font-size: 12px; color: #ccc; position: relative; z-index: 1; line-height: 20px; }
.case_shade_top { position: absolute; top: 0; left: 0; width: 384px; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); }
.case_info .case_icon { display: none; padding: 12px 0; }
.case_info .case_icon img { position: relative; }
.case_shade { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); }
.case_type { position: absolute; right: 0; top: 100px; width: 200px; }
.case_type li { float: right; width: 100px; height: 100px; opacity: 0; }
.case_type li a { text-align: center; font-size: 18px; display: block; line-height: 100px; color: #fff; }
.case_type .green { background: #43bcc7; }
.case_type .red { background: #de6764; }
.case_type .blue { background: #31a0e1; }
.case_type .purple { background: #6a8bd2; }
.case_type .orange { background: #9ac047; }
.case_type .gray { background: #c7a643; }
.case_search { background: #f7f7f7; padding: 60px 0 40px; }
.case_seek { border: 1px solid #4bcdd9; display: inline-block; *display:inline;
zoom: 1; }
.case_seek input { border: 0; background: none; color: #666; width: 0; text-indent: 10px; }
.case_seek img { padding: 10px; cursor: pointer; }
.case_more { text-align: center; margin-top: 40px; }
.case_more a { display: inline-block; font-size: 14px; color: #2eafbb; line-height: 38px; border: 1px solid #2eafbb; display: inline-block; width: 1200px; }
.crumbs { border-bottom: 1px solid #f7f7f7; line-height: 40px; color: #999999; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; }
.crumbs .icon { display: inline-block; width: 14px; height: 14px; background: url("../images/sprite.png") -80px 4px no-repeat; margin-right: 4px; }
.crumbs a { color: #999; }
.crumbs a:hover { color: #666; }
.crumbs .on { color: #666; }
.case_top { margin-top: 40px; }
.case_top h2 { margin-bottom: 8px; }
.case_top h2 a { font-size: 16px; color: #2eafbb; font-weight: normal; display: inline-block; margin-right: 12px; }
.case_top h3 { font-size: 20px; color: #333333; font-weight: normal; margin-bottom: 8px; }
.case_top .date { color: #999; }
.case_top .intro { width: 440px; line-height: 26px; color: #999; }
.case_sign { margin-top: 30px; }
.case_sign .info { line-height: 26px; color: #999; margin-top: 10px; }
.case_sign .info a { color: #999; margin-top: 10px; display: inline-block; text-decoration: underline; }
.case_phone { background: url(../images/case_phone_bg.jpg) no-repeat center; width: 100%; height: 882px; padding-top: 78px; margin-top: 40px; }
.case_phone_bg { background: url(../images/phone_bg2.png) no-repeat center; width: 405px; height: 723px; margin: 0px auto; position: relative; }
.phone_slider { padding-top: 69px; margin-left: 28px; width: 350px; height: 560px; }
.case_erweima { width: 200px; margin: 60px auto; border: 1px solid #e3e3e3; }
.case_erweima_btn { background-color: #2eafbb; text-align: center; padding: 0px 10px; height: 40px; line-height: 40px; width: 140px; margin: 0px auto; }
.case_erweima_btn a { color: #e3e3e3; }
a.btn_case_see { width: 100%; height: 32px; line-height: 32px; color: #2eafbb; font-size: 14px; background-color: #fff; border: 1px solid #2eafbb; text-align: center; display: block; margin: 30px auto; }
.c_back { text-align: center; margin-top: 60px; }
.c_back img { cursor: pointer; }
.ser_project ul { margin: 40px auto; width: 1200px; }
.ser_project li { float: left; margin-left: 40px; position: relative; overflow: hidden; }
.ser_project li:first-child { margin: 0; }
.blur { filter: blur(4px); -webkit-filter: blur(4px); -moz-filter: blur(4px); -ms-filter: blur(4px);  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false); /* IE6~IE9 */
}
.blur_shade { background: url("../images/blur.png") no-repeat; position: absolute; top: -600px; left: 0; width: 100%; height: 100%; text-align: center; z-index: 2; opacity: 0; }
.blur_shade h4 { font-size: 20px; color: #333; font-weight: normal; padding-top: 100px; }
.blur_shade .text { background: url("../images/s13.jpg") no-repeat center top; font-size: 14px; color: #333; margin-top: 8px; padding: 8px 10px 0; }
.ser_scope { background: #f7f7f7; padding-bottom: 70px; }
.picBox { width: 1200px; margin: 40px auto; }
.picBox li { float: left; position: relative; width: 400px; display: table; }
.picBox .ser_info { position: absolute; font-size: 16px; color: #333; line-height: 40px; text-align: center; width: 100%; left: 0; }
.picBox .s1 .ser_info { bottom: 0; }
.picBox .s3 .ser_info { top: 0; }
.picBox .s5 .ser_info { bottom: 0; }
.picBox .ser_shade { background: #fff; opacity: 0.6; filter: alhpa(opacity=60); width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.picBox h2 { font-size: 16px; color: #333; font-weight: normal; position: relative; z-index: 2; }
.picBox .s2:after { height: 0; width: 0; content: ""; position: absolute; left: -20px; top: 50%; border-width: 10px; border-style: dashed solid dashed dashed; border-color: transparent #2eafbb transparent transparent; }
.picBox .s4:after { height: 0; width: 0; content: ""; position: absolute; right: -20px; top: 50%; z-index: 2; border-width: 10px; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent #2eafbb; }
.picBox .s6:after { height: 0; width: 0; content: ""; position: absolute; left: 50%; top: -20px; border-width: 10px; border-style: dashed dashed solid dashed; border-color: transparent transparent #2eafbb transparent; }
.picBox .intro { position: absolute; left: 0; top: 0; font-size: 14px; line-height: 26px; color: #fff; margin: auto 28px; padding-top: 36px; }
.picBox dl { position: absolute; left: 0; top: 0; font-size: 14px; line-height: 26px; color: #fff; margin: auto 38px; padding-top: 36px; }
.picBox dt { font-size: 18px; margin-bottom: 8px; }
.picBox dd { display: list-item; list-style-type: circle; white-space: nowrap; }
.picBox li img { width: 400px; height: 220px; }
.sp_box { margin-top: 40px; }
.picScroll-left { width: 1200px; margin: 0 auto; overflow: hidden; position: relative; padding-bottom: 40px; }
.picScroll-left .hd { overflow: hidden; position: absolute; bottom: 0; width: 100%; text-align: center; z-index: 2; }
.picScroll-left .hd a { display: inline-block; font-size: 20px; font-weight: 200; color: #999; line-height: 38px; border: 1px solid #999; width: 38px; text-align: center; margin: 0 5px; cursor: pointer; }
.picScroll-left .hd a:hover { color: #333; border-color: #333; }
.mobile_column { }
.mobile_column ul { width: 1200px; margin: 40px auto; }
.mobile_column li { width: 360px; text-align: center; float: left; margin-left: 40px; }
.mobile_column li:first-child { margin-left: 0; }
.mobile_column .title { font-size: 16px; color: #222; margin: 10px auto; line-height: 26px; }
.mobile_column .intro { color: #999; line-height: 22px; width: 320px; margin: 0 auto; }
.wechat { background: url("../images/m06.jpg") no-repeat center top; position: relative; }
.wechat dl { margin-left: 140px; margin-top: 300px; float: left; }
.wechat dt { font-size: 36px; color: #333; margin-bottom: 30px; }
.wechat dd { font-size: 16px; color: #333; line-height: 30px; }
.wechat_intro { margin-top: 60px; position: relative; top: 40px; overflow: hidden; }
.wechat_img { width: 540px; float: right; min-height: 680px; overflow: hidden; position: relative; left: 86px; }
.wechat_img img { position: absolute; right: 0; bottom: 0; }
.wi_left { width: 460px; margin-left: 78px; position: relative; }
.wi_left img { position: relative; }
.wi_right { width: 540px; background: url("../images/m10.jpg") no-repeat left top; padding-left: 115px; padding-top: 92px; }
.wi_right h2 { font-size: 36px; font-weight: normal; color: #333; margin-bottom: 30px; }
.wi_right h3 { font-size: 20px; font-weight: normal; color: #333; margin-bottom: 28px; }
.wi_right .text { font-size: 16px; font-weight: normal; color: #333; line-height: 30px; }
.solution_list { width: 1200px; margin: 40px auto; }
.solution_list ul { margin-right: -48px; }
.solution_list li { float: left; width: 370px; margin-right: 46px; margin-bottom: 38px; position: relative; }
.solution_list h2 { font-size: 20px; color: #333; font-weight: normal; line-height: 48px; border-bottom: 1px solid #2eafbb; }
.solution_list h2 a { color: #333; }
.solution_list h2 a:hover { color: #2eafbb; }
.solution_list .intro { line-height: 22px; color: #999; margin-top: 4px; }
.solution_list .intro a:hover { color: #2eafbb; }
.solution_list .shade { display: block; width: 370px; height: 120px; }
.solution_list .solu_img { width: 370px; height: 120px; overflow: hidden; position: relative; cursor: pointer; }
.solu_img .shade { position: absolute; z-index: 3; top: 100%; left: 0; width: 100%; height: 120px; background: #fff; opacity: 0.6; filter: alpha(opacity=60); transition: 0.5s all; }
.solu_img:hover .shade { top: 0; transition: 0.6s ease-in-out; }
.solu_img .img_icon { transform: rotate(360deg); transition: 0.6s ease-in-out; position: absolute; top: 50%; left: -100%; margin-left: -20px; margin-top: -20px; display: inline-block; z-index: 3; }
.solu_img:hover .img_icon { left: 50%; transform: rotate(3600deg); -webkit-transform: rotate(3600deg); -moz-transform: rotate(3600deg); -o-transform: rotate(3600deg); -ms-transform: rotate(3600deg); transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; -moz-transition: .6s ease-in-out; -o-transition: .6s ease-in-out; -ms-transition: .6s ease-in-out; }
.solu_img img { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transition: All .6s ease-in-out; -webkit-transition: All .6s ease-in-out; -moz-transition: All .6s ease-in-out; -o-transition: All .6s ease-in-out; -ms-transition: All .6s ease-in-out; }
.solu_img:hover>img { transform: scale(1.4); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transition: All .6s ease-in-out; -webkit-transition: All .6s ease-in-out; -moz-transition: All .6s ease-in-out; -o-transition: All .6s ease-in-out; -ms-transition: All .6s ease-in-out; }
.news_tab { width: 1200px; margin: 60px auto 0; }
.news_tab ul { margin-right: -40px; }
.news_tab li { float: left; width: 205px; height: 70px; overflow: hidden; padding-left: 20px; margin-right: 20px; margin-bottom: 20px; }
.news_tab h2 { font-size: 20px; color: #fff; font-weight: normal; padding-top: 12px; }
.news_tab .eg { font-size: 14px; color: #fff; text-transform: uppercase; padding-bottom: 12px; font-family: Arial; }
.news_tab li:hover { opacity: 1; filter: alpha(opacity=100) }
.news_tab li.sel { opacity: 0.8; filter: alpha(opacity=80) }
.news_tab .cyan { background: #43bcc7; opacity: 0.8; filter: alpha(opacity=80) }
.news_tab .red { background: #de6764; opacity: 0.8; filter: alpha(opacity=80) }
.news_tab .blue { background: #31a0e1; opacity: 0.8; filter: alpha(opacity=80) }
.news_tab .purple { background: #6a8bd2; opacity: 0.8; filter: alpha(opacity=80) }
.news_tab .green { background: #9ac047; opacity: 0.8; filter: alpha(opacity=80) }
.news_tab .black { background: #000000; }
.news_tab .cyansel { background: #43bcc7; opacity: 1; filter: alpha(opacity=100) }
.news_tab .redsel { background: #de6764; opacity: 1; filter: alpha(opacity=100) }
.news_tab .bluesel { background: #31a0e1; opacity: 1; filter: alpha(opacity=100) }
.news_tab .purplesel { background: #6a8bd2; opacity: 1; filter: alpha(opacity=100) }
.news_tab .greensel { background: #9ac047; opacity: 1; filter: alpha(opacity=100) }
.news_list {overflow: hidden; }
.news_list li {zoom: 1; margin-top: 20px; position: relative; }
.news_list .line { display: block; position: absolute; background: #2eafbb; }
.news_list li:after { content: ""; clear: both; display: table; }
.news_time { background: #2eafbb; width: 120px; height: 100%; padding: 0px 20px 10px 0; }
.news_time .day { display: block; font-size: 70px; color: #fff; font-family: "Impact"; text-align: right;line-height: 1.5; }
.news_time .year { display: block; color: #eee; text-align: right; line-height: 22px; }
.news_time .author { display: block; color: #eee; text-align: right; line-height: 22px; }
.news_time .type { display: block; text-align: right; background: url("../images/n01.jpg") no-repeat right top; padding-top: 6px; margin-top: 4px;color: #fff; }
.news_time .type a { color: #fff; font-family: '宋体', Arial; }
.news_cont { width: 700px; margin-right: 10px; }
.news_cont h2 { font-size: 20px; font-weight: normal; padding-top: 26px; }
.news_cont h2 a { color: #333; }
.news_cont a:hover { color: #2eafbb; }
.news_cont .demo { line-height: 24px; margin-top: 14px; }
.news_cont .vis { color: #999; line-height: 38px; margin-top: 12px; }
.news_cont .more { float: right; color: #2eafbb; display: inline-block; border: 1px solid #2eafbb; line-height: 38px; padding: 0 24px; }
.news_more { width: 1200px; margin: 40px auto 80px; text-align: center; }
.news_more a { display: block; font-size: 14px; color: #2eafbb; border: 1px solid #2eafbb; line-height: 38px; }
.backg_new { background: #f7f7f7; padding: 1px 0 40px; margin-bottom: -40px; }
.news_info { width: 1200px; margin: 0 auto; }
.news_box { width: 840px; }
.news_title { border-bottom: 1px solid #eeeeee; margin-top: 40px; padding-bottom: 18px; }
.news_title h2 { font-size: 20px; color: #333; font-weight: normal; }
.news_title .sign { color: #999; margin-top: 12px; }
.news_title .label { color: #2eafbb; }
.news_title .mark { padding-right: 20px; }
.news_page { text-align: center; margin-top: 16px; }
.news_page a { display: inline-block; font-size: 20px; font-weight: 200; line-height: 38px; width: 38px; text-align: center; margin: 0 0px 0 10px; color: #999; border: 1px solid #999; }
.news_page a:hover { color: #333; border-color: #333; }
.news_box .demo { font-size: 14px; color: #333; line-height: 30px; margin-top: 30px; }
.news_box .notice { font-size: 12px; color: #999; padding-top: 20px; clear: both; }
.page_list { border-top: 1px dashed #d3d3d3; margin-top: 16px; padding-top: 10px; margin-bottom: 30px; }
.page_list li { line-height: 24px; color: #999; }
.page_list li a { color: #999; }
.page_list li a:hover { color: #2eafbb; }
.page_list .return { float: right; font-size: 14px; color: #2eafbb; border: 1px solid #2eafbb; line-height: 38px; padding: 0 20px; margin-top: 6px; }
.news_menu { width: 240px; background: #f7f7f7; padding: 30px; margin-top: 40px; }
.news_menu dt { font-size: 20px; color: #333; margin-bottom: 24px; }
.news_menu dd { border-bottom: 1px dashed #cccccc; margin-bottom: 20px; }
.news_menu dd h3 { color: #333; font-size: 16px; font-weight: normal; margin-bottom: 10px; }
.news_menu a:hover { color: #2eafbb; }
.news_menu .text { color: #666; line-height: 24px; margin-bottom: 14px; }
.news_menu .time { color: #999999; line-height: 24px; margin-bottom: 6px; }
.news_seek { border: 1px solid #fff; display: inline-block; *display:inline;
zoom: 1; background: none; position: absolute; left: 0; top: 280px; }
.news_seek input { border: 0; background: none; color: #fff; width: 0; text-indent: 10px; }
.news_seek img { padding: 10px; cursor: pointer; }
.news_img { position: absolute; right: 0; top: 76px; }
.form_msg { height: 400px; width: 420px; position: relative; padding-left: 40px; }
.form_msg dl { position: relative; z-index: 3; }
.form_msg dt { font-size: 18px; color: #fff; padding-top: 40px; }
.form_msg dd { margin-top: 10px; }
.form_msg .text { border: 1px solid #cccccc; background: transparent; color: #ccc; height: 32px; width: 178px; line-height: 32px; text-indent: 12px; margin-right: 14px; }
.form_msg .text:focus { border-color: #fff; color: #fff; }
.form_msg .textarea { color: #ccc; line-height: 32px; padding-left: 12px; }
.form_msg .sub_btn { font-size: 14px; border: 1px solid #fff; background: transparent; color: #fff; height: 38px; width: 118px; line-height: 36px; margin-right: 14px; *margin-left: 12px;
filter: chroma(color=#000000); cursor: pointer; }
.form_msg textarea { width: 370px; border: 1px solid #ccc; background: transparent; height: 100px; color: #ccc; resize: none; *margin-left: 12px;
overflow: auto; }
.form_msg textarea:focus { color: #fff; border-color: #fff; outline: none; }
.c_shade { position: absolute; top: 0; left: 0; background: #fff; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; }
.connect { background: url("../images/cn01.jpg") no-repeat center; min-height: 500px; }
.connect_column { margin-top: 40px; }
.connect_column li { float: left; text-align: center; width: 285px; height: 218px; margin-left: 20px; position: relative; padding-top: 42px; font-size: 16px; color: #333; line-height: 32px; }
.connect_column li:first-child { margin-left: 0; }
.connect_column h2 { font-size: 18px; color: #333; font-weight: normal; margin-top: 10px; margin-bottom: 10px; }
.connect_column .info { position: relative; z-index: 2; }
.connect_column .text { margin: 0 20px; }
.connect_column .s1 { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #de6764; opacity: 0.2; filter: alpha(opacity=20); }
.connect_column .s2 { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #58bec8; opacity: 0.2; filter: alpha(opacity=20); }
.connect_column .s3 { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #9ac047; opacity: 0.2; filter: alpha(opacity=20); }
.connect_column .s4 { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #31a0e1; opacity: 0.2; filter: alpha(opacity=20); }
.connect_column .i1 { display: inline-block; width: 36px; height: 46px; background: url("../images/sprite2.png") no-repeat 0 0; }
.connect_column .i2 { display: inline-block; width: 42px; height: 46px; background: url("../images/sprite2.png") no-repeat -38px 0; }
.connect_column .i3 { display: inline-block; width: 40px; height: 46px; background: url("../images/sprite2.png") no-repeat -83px 0; }
.connect_column .i4 { display: inline-block; width: 40px; height: 46px; background: url("../images/sprite2.png") no-repeat -125px 0; }
.connect_column a { color: #333; }
.connect_share { border-top: 2px solid #43bcc7; width: 120px; margin: 46px auto 0; text-align: center; padding-top: 46px; }
.connect_share .sh1 { display: inline-block; width: 40px; height: 40px; background: url("../images/sprite2.png") 0 -48px; margin-right: 9px; }
.connect_share .sh2 { display: inline-block; width: 40px; height: 40px; background: url("../images/sprite2.png") -41px -48px; }
.arrive { background: #f7f7f7; padding-bottom: 40px; margin-bottom: -40px; }
.arrive_column_con { width: 1150px; overflow: hidden; }
.arrive_column { margin-left: 50px; width: 1300px; }
.arrive_column dl { float: left; width: 318px; margin: 40px 90px 0 0px; }
.arrive_column dt { margin-bottom: 20px; }
.arrive_column dd { font-size: 16px; color: #333; line-height: 32px; }
.bus { font-size: 18px; color: #31a0e1; }
.bus dt { margin-left: -50px; }
.bus .icon { display: inline-block; width: 32px; height: 32px; background: url("../images/sprite2.png") 0 -90px; vertical-align: middle; margin-right: 18px; }
.taxi { font-size: 18px; color: #de6764; }
.taxi dt { margin-left: -50px; }
.taxi .icon { display: inline-block; width: 32px; height: 34px; background: url("../images/sprite2.png") -34px -90px; vertical-align: middle; margin-right: 18px; }
.metro { font-size: 18px; color: #9ac047; }
.metro dt { margin-left: -50px; }
.metro .icon { display: inline-block; width: 34px; height: 34px; background: url("../images/sprite2.png") -66px -90px; vertical-align: middle; margin-right: 16px; }
/*case*/
.container { width: 100%; overflow: hidden; *width:100%;
overflow: hidden; }
.da-thumbs { width: 100%; position: relative; font-size: 0; margin: 0 auto; }
.da-thumbs li { float: left; width: 20%; position: relative; overflow: hidden; *width:19.97%;
}
.da-thumbs li a img { display: block; margin: 0 auto; position: relative; border: 0; }
.da-thumbs li a>img { width: 100%; max-width: 100%; transform: scale(1); transition: all 0.6s ease-in-out; }
.da-thumbs li a:hover>img { transform: scale(1.1); transition: all 0.4s ease-in-out; }
.da-thumbs li a { overflow: hidden; display: block; }
.da-thumbs li a div { position: absolute; width: 100%; height: 100%; left: 0; top: 0; padding-top: 10%; display: none; }
.da-thumbs li a:hover div { *display: block;
}
.da-thumbs li a div img { position: relative; z-index: 2; top: 0px; }
.da-thumbs li a div span { position: relative; z-index: 2; top: 0px;height: 30px;width: 200px;display: block;font-size: 18px;color: #fff;margin: 0 auto 30px auto;overflow: hidden;text-align: center; }
.da-shade { background: #2eafbb; opacity: 0.8; position: absolute; width: 100%; height: 100%; }
.da-thumbs h2 { position: absolute; bottom: 0; left: 0; width: 100%; font-size: 16px; color: #fff; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; font-weight: normal; text-align: center; line-height: 40px; z-index: 4; }
.da-thumbs .title_shade { background: #000; opacity: 0.5; filter: alpha(opacity=50); position: absolute; z-index: 2; bottom: 0; left: 0; height: 40px; width: 100%; }
.da-thumbs li a:hover h2 { display: none; }
.da-thumbs li a:hover .title_shade { display: none; }
/* contact_pay */
.pay_t { margin: 48px auto 30px auto; width: 223px; }
.pay_list { width: 1200px; margin: 0px auto; }
.pay_list table { border-collapse: collapse; border: 1px solid #ddd; padding: 0px; margin: 0px; width: 100%; }
.pay_list table td { padding: 12px 0px 20px 10px; margin: 0px; border: 1px solid #ddd; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; font-size: 14px; color: #333; line-height: 31px; }
.pay_list dt { height: 80px; }
.pay_list dt.dt2 { padding-left: 12px; }
.pay_list dd { padding-left: 10px; }
.pay_spec { font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; font-size: 14px; color: #333; line-height: 31px; width: 1200px; margin: 30px auto; }
#superContainer { height: 100%; position: relative; /* Touch detection for Windows 8 */
-ms-touch-action: none; /* IE 11 on Windows Phone 8.1*/
touch-action: none; }
.section { overflow: hidden; }
.fp-section { position: relative; -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */ -moz-box-sizing: border-box; /* <=28 */ box-sizing: border-box; }
.fp-slide { float: left; }
.fp-slide, .fp-slidesContainer { height: 100%; display: block; }
.fp-slides { z-index: 1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */ transition: all 0.3s ease-out; }
.fp-section.fp-table, .fp-slide.fp-table { display: table; table-layout: fixed; width: 100%; }
.fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }
.fp-slidesContainer { float: left; position: relative; }
.fp-controlArrow { position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; border-style: solid; margin-top: -38px; }
.fp-controlArrow.fp-prev { left: 15px; width: 0; border-width: 38.5px 34px 38.5px 0; border-color: transparent #fff transparent transparent; }
.fp-controlArrow.fp-next { right: 15px; border-width: 38.5px 0 38.5px 34px; border-color: transparent transparent transparent #fff; }
.fp-scrollable { overflow: scroll; }
.fp-notransition { -webkit-transition: none !important; transition: none !important; }
.page_next { width: 63px; height: 63px; position: absolute; bottom: 0px; left: 50%; margin-left: -40px; z-index: 999; opacity: 0.6; filter: alpha(opacity=60); animation: 3s linear 0s normal none infinite running fade; }
/* webdesign begin */
.webdesign1 { width: 100%; height: 100%; background: #4bcdda; }
.wd_1 { width: 1000px; height: 480px; margin: 0px auto; position: relative; }
.wd_1_text { position: absolute; top: -3000px; left: 432px; }
.wd_1_text2 { position: absolute; top: 166px; left: 2202px; }
.wd_1_2 { position: absolute; top: 300px; left: 356px; opacity: 0.1; filter: alpha(opacity=10); }
.wd_1_left { position: absolute; bottom: -300px; left: -1000px; }
.wd_1_right { position: absolute; top: -400px; right: -1000px; }
.webdesign2 { background: url(../images/webdesign2.jpg) no-repeat center; height: 100%; width: 100%; position: relative; }
.webdesign3 { background: url(../images/webdesign3.jpg) no-repeat center; height: 100%; width: 100%; position: relative; }
.webdesign4 { background: url(../images/webdesign4.jpg) no-repeat center; height: 100%; width: 100%; position: relative; }
.webdesign5 { background: url(../images/webdesign5.jpg) no-repeat center; height: 100%; width: 100%; position: relative; }
.webdesign6 { background: url(../images/webdesign6.jpg) no-repeat center; height: 100%; width: 100%; position: relative; }
.webdesign7 { background: url(../images/webdesign7.jpg) no-repeat center; height: 100%; width: 100%; position: relative; }
/* right contact */
.right_contact { position: fixed; bottom: 60px; right: 0px; width: 40px; display: none; z-index: 100000; }
.right_contact .r_qq { background: url(../images/contact_qq.png) no-repeat center #ececec; width: 40px; height: 40px; cursor: pointer; }
.right_contact .r_tel { background: url(../images/contact_tel.png) no-repeat center #ececec; width: 40px; height: 40px; cursor: pointer; }
.right_contact .r_close { background: url(../images/contact_close.png) no-repeat center #f9f9f9; width: 40px; height: 40px; cursor: pointer; }
.right_contact .r_close:hover { background: url(../images/contact_close2.png) no-repeat center #43bcc7; cursor: pointer; }
.right_contact .r_show { background: url(../images/contact_h.jpg) no-repeat center; width: 40px; height: 40px; cursor: pointer; }
.right_contact .right_hide { display: none; }
.right_contact .sel .r_qq { background: url(../images/contact_qq2.png) no-repeat center #43bcc7; }
.right_contact .sel .r_tel { background: url(../images/contact_tel2.png) no-repeat center #43bcc7; }
.right_contact .r_sub { display: none; position: absolute; right: 40px; top: 0px; background-color: #43bcc7; padding: 20px; line-height: 34px; z-index: 100000; }
.right_contact .r_sub_tel { width: 110px; top: 40px; }
.right_contact .r_sub_tel span { display: block; font-size: 14px; color: #fff; font-family: \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif; }
.right_contact .r_top { background: url(../images/contact_top.png) no-repeat center #f9f9f9; width: 40px; height: 40px; cursor: pointer; display: none; }
.right_contact .r_top:hover { background: url(../images/contact_top2.png) no-repeat center #43bcc7; }
/* right nav */
#fp-nav { position: fixed; z-index: 100000; top: 50%; opacity: 1; }
#fp-nav.right { right: 17px; }
#fp-nav.left { left: 17px; }
#fp-nav ul li, .fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }
.fp-slidesNav ul li { display: inline-block; }
#fp-nav ul li a, .fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span { background: #ccc; }
#fp-nav ul li a span, .fp-slidesNav ul li a span { top: 2px; left: 2px; width: 8px; height: 8px; border: 1px solid #ccc; background: rgba(0, 0, 0, 0); border-radius: 50%; position: absolute; z-index: 1; }
/* 员工天地 */
.news_list_yuangong { width: 100%; background: url(../images/news_yuangong_bg.jpg) no-repeat center top; height: 800px; margin-top: 40px; }
.news_list_yuangong ul { width: 1200px; margin: 0px auto; }
.news_list_yuangong li { width: 200px; height: 200px; float: left; position: relative; cursor: pointer; overflow: hidden; }
.news_list_yuangong li .li_caption { position: absolute; left: 0; display: none; width: 200px; height: 200px; overflow: hidden; z-index: 2; }
.news_list_yuangong li.li .li_caption a { font-size: 18px; line-height: 30px; color: #fff; display: block; padding-top: 56px; padding-left: 6px; padding-right: 6px; }
.news_list_yuangong li.li .li_t { position: absolute; left: 0; z-index: 3; text-align: center; width: 200px; }
.news_list_yuangong li.li2 .li2_t { position: absolute; left: 0; z-index: 3; text-align: center; width: 200px; }
.news_list_yuangong li.li2 .t { font-size: 18px; line-height: 30px; color: #fff; display: block; padding-top: 56px; padding-left: 6px; padding-right: 6px; }
.news_list_yuangong li.li2 .date { font-size: 14px; line-height: 30px; color: #fff; font-family: Arial; }
.news_list_yuangong li .li2_caption { position: absolute; left: 0; display: none; width: 200px; height: 200px; overflow: hidden; z-index: 2; opacity: 0.2; filter: alpha(opacity=20); }
/* Easy Slider */
/* 成功案例 */
#slider ul, #slider li, #slider2 ul, #slider2 li { margin: 0; padding: 0; list-style: none; }
#slider2 { margin-top: 1em; }
#slider li, #slider2 li { width: 350px; height: 560px; overflow: hidden; }
#prevBtn, #nextBtn, #slider1next, #slider1prev { display: block; width: 30px; height: 77px; position: absolute; left: -380px; top: 350px; z-index: 1000; font-size: 0px; }
#nextBtn, #slider1next { left: 730px; }
#prevBtn a, #nextBtn a, #slider1next a, #slider1prev a { display: block; position: relative; width: 43px; height: 85px; background: url(../images/btn_prev.png) no-repeat 0 0; }
#nextBtn a, #slider1next a { background: url(../images/btn_next.png) no-repeat 0 0; }
/* numeric controls */	
ol#controls { margin: 156px auto 0px auto; padding: 0; height: 28px; padding-left: 42%; }
ol#controls li { margin: 0 10px 0 0; padding: 0; float: left; list-style: none; height: 12px; line-height: 12px; width: 12px; }
ol#controls li a { display: block; height: 12px; width: 12px; line-height: 12px; padding: 0px; text-decoration: none; font-size: 0px; background: url(../images/case_ico.png) no-repeat 0px -12px; }
ol#controls li.current a { background: url(../images/case_ico.png) no-repeat 0px 0px; }
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus { outline: none; }
 @media all and (max-width:1199px) {
.wrap { border: 0; padding: 0; width: 968px; margin: 0 auto; *zoom:1;
}
/*index
//home service*/
.hearer h1 a { width: 155px; height: 80px; overflow: hidden; }
.serve_column ul { width: 824px; margin: 0px auto; }
.serve_column li { float: left; width: 272px; height: 390px; background: #ffffff; margin: 10px 95px 20px 45px; }
/*home_news*/
.hn_main { width: 450px; position: relative; padding-bottom: 28px; margin-top: 40px; }
.hn_column { width: 480px; margin-top: 30px; }
.top_news_img { width: 450px; height: 194px; }
.hn_column .text { padding: 15px 20px; line-height: 24px; height: 110px; color: #fff; display: none; border-top: 1px solid #7c9bad; }
.home_service { display: none; }
.picMarquee-left { width: 960px; }
.picMarquee-left .bd { width: 830px; overflow: hidden; }
.picMarquee-left .bd ul li { margin: 0 12px }
.da-thumbs li { float: left; width: 33.33%; position: relative; overflow: hidden; *width:33%;
}
.da-thumbs li:last-child { display: none; }
/*about*/
.about { width: 100%; overflow: hidden; }
.about .points { height: 500px; }
.about_tab { width: 860px; }
.about_main { width: 400px; }
.about_cont2 { display: none; }
.about_cont li { margin-bottom: 14px; width: 200px; float: left; }
.about_main .about_cont:first-child { border-bottom: 0px none; }
.zhizi li:first-child { display: none; }
.job_tab { display: none; width: 440px; }
.jion_box { width: 960px; margin: 0 auto; position: relative; }
.jion .send { position: absolute; right: 22px; top: 444px; }
.jion_img { top: 135px; left: 0; }
.jion_info { margin-left: 250px; margin-top: 360px; }
/* contact */
.connect_column li { margin-left: 40px; }
.connect_column li:first-child { margin-left: 10px; }
.arrive_column_con { width: 950px; overflow: hidden; }
.arrive_column { margin-left: 50px; width: 950px; }
.arrive_column dl { width: 260px; margin: 30px 25px; }
.arrive_column dd { font-size: 15px; color: #333; line-height: 32px; }
.connect_column li:last-child { display: none; }
.bus { padding-left: 10px; }
/* service */
.inside_banner_service { background: url("../images/service_banner.jpg") no-repeat -600px 0px; height: 400px; }
.inside_banner_mobile { background: url("../images/m_banner.jpg") no-repeat -200px 0px; height: 400px; }
.inside_banner_solution { background: url("../images/sl_banner.jpg") no-repeat -200px 0px; height: 400px; }
.inside_banner_news { background: url("../images/n_banner.jpg") no-repeat -600px 0px; height: 400px; }
.ser_project ul { width: 750px; }
.ser_project li { margin-left: 40px; margin-right: 60px; margin-top: 40px; }
.ser_project li:first-child { margin: 40px 60px 0px 40px; }
.picScroll-left { width: 960px; }
.picBox li img { width: 334px; height: 184px; }
.picBox li { float: left; position: relative; width: 334px; }
.picBox .intro { font-size: 13px; }
.sp_box img { width: 100%; }
/* mobile */
.mobile_column ul { width: 960px; }
.mobile_column li { width: 300px; margin-left: 20px; }
.wechat dl { margin-left: 30px; margin-top: 300px; float: left; }
.wechat_intro { margin-top: 60px; }
.wi_left { margin-left: 10px; width: 350px; }
.wi_right { width: 400px; }
/* solution */
.solution_list { width: 960px; }
.solution_list li { margin-left: 60px; }
.solution_list ul { margin-right: 0px; }
.news_info { width: 960px; }
.news_menu { display: none; }
.news_box { width: 940px; padding-left: 20px; }
/* news */
.news_tab { width: 960px; overflow: hidden; }
.news_list { width: 960px; }
.news_cont { width: 780px; margin-right: 20px; }
.news_list_yuangong { width: 100%; background: url(../images/news_yuangong_bg.jpg) no-repeat center top #95c9bc; height: 1200px; margin-top: 40px; }
.news_list_yuangong ul { width: 800px; margin: 0px auto; }
/* contact_pay */
.pay_list { width: 960px; }
.pay_list table { width: auto; }
.pay_list table td { font-size: 13px; line-height: 28px; width: 240px; overflow: hidden; vertical-align: top; }
.pay_list dt { height: 80px; width: 228px; overflow: hidden; }
.pay_spec { font-size: 13px; width: 960px; }
.pay_list dt.dt2 { padding-left: 6px; }
.pay_list dd { padding-left: 4px; }
}
body.nbg { background: #fff url(../images/nbg.jpg) center repeat-y; }
.nfooterbg, .nheaderbg { background: #fff; }
.nc { width: 100%; margin: -38px 0 0 0; position: relative; z-index: 999; }
.ncc { width: 100%; background: url(../images/nbgt.png) center top no-repeat; }
.nbgf { width: 100%; height: 40px; background: url(../images/nbgf.jpg) center top no-repeat; overflow: hidden; clear: both; }
.nccc { width: 1166px; margin: 0 auto; padding: 24px 0 0 0; }
.nccc .nside { width: 240px; background: #eee; border-radius: 5px; }
.nccc .nmain { width: 900px; }
.topSb_nav { height: 10px; background: url(../images/7--topSb_nav.jpg) no-repeat; }
.sb_nav { width: 240px; background: url(../images/7--sb.jpg) repeat-y left top; }
.sbNavTitle { background: url(../images/7--sb_nav1.jpg) no-repeat; height: 51px; line-height: 44px; font-size: 14px; color: #fff; padding-left: 48px; overflow: hidden; }
.sb2NavTitle { background: url(../images/7--sb_nav2.jpg) no-repeat; height: 52px; line-height: 57px; font-size: 14px; color: #333; padding-left: 53px; overflow: hidden; }
.sbNavList { padding: 5px 18px 10px 21px; white-space: nowrap; overflow: hidden; }
.sbNavList dt a { display: block; background: url(../images/7--neiye_list_a1.jpg) no-repeat left top; height: 27px; line-height: 30px; margin: 5px 0; padding-left: 40px; _width: 160px; overflow: hidden; }
.sbNavList dt a:hover, .sbNavList dt a#select { background: url(../images/7--neiye_list_a1.jpg no-repeat left top; text-decoration: none; font-weight: bold; }
.sbNavList dd { padding: 0 10px 10px 10px; overflow: hidden; }
.sbNavList dd h4 { height: 25px; line-height: 25px; font-weight: normal; background: url(../images/7--i-1.gif) no-repeat 13px 12px; border-bottom: 1px dashed #C1C1C1; padding-left: 30px; _width: 150px; overflow: hidden; }
.sbNavBox { padding: 5px 18px 10px 21px; line-height: 1.8; color: #333; }
.sb_navB { height: 28px; background: url(../images/7--sb_nav.jpg) no-repeat left top; font-size: 0px; }
.sb_box { width: 900px; background: url(../images/7--sb_boxB.png) no-repeat left bottom; padding-bottom: 18px; }
.sb_box .sb_boxTitle { height: 36px; line-height: 36px; display: block; background: url(../images/7--sb_boxH3.png) no-repeat right top; white-space: nowrap; overflow: hidden; padding-left: 35px; }
.sb_box .sb_boxTitle span { height: 36px; line-height: 36px; display: block; padding-right: 10px; float: right; font-size: 12px; font-weight: normal; }
.sb_box .active { padding: 15px 20px 20px 20px !important; background: url(../images/7--sb_box.png) repeat-y left top; }
.nnnccc { padding: 20px; background: url(../images/7--sb_box.png) repeat-y left top; line-height: 1.8; color: #333; height: auto!important; height: 500px; min-height: 500px; }
.clear { clear: both; }
h1.arcTitle { height: 45px; background: url(../images/lineTitleName.gif) center bottom no-repeat; text-align: center; font-size: 1.4em; color: #0049A4; font-weight: normal; margin-bottom: 10px; }
.arcInfo { padding-bottom: 10px; color: #999; text-align: center; margin-top: -5px; }
.arcContent {line-height: 1.8; }
.arcContent #prevAndNext { height: 30px; line-height: 30px; margin-top: 20px; border-top: dotted 1px #CCC; padding: 8px 10px 0; }
.arcContent #prevAndNext .prev { float: left; }
.arcContent #prevAndNext .next { /*float:right;	*/ line-height: 10px; }
.imgList { padding: 0 !important; }
.imgList li { position: relative; width: 210px; margin:10px 25px 0 40px; float: left; height: 210px; display: inline; }
.imgList li img { width: 194px; height: 145px; /* 238x180 */ padding: 8px 8px 20px; background: url(../images/bgCaseItem2.jpg) }
.imgList li a:hover img { background: url(../images/bgCaseItem2s.jpg) }
.imgList div { text-align: center; width: 210px; /* for text center */ }
.imgList li div a { display: block; color: #353535; font-size: 1.2em; line-height: 22px; height: 22px; overflow: hidden; }

.imgList li div a:hover {color: #000;}
.imgList li div span { color: #A3A3A3; font-size: 0.9em; }
.arcContent { line-height: 1.8; font-size: 14px; }
.arcContent p { padding: 0 0 15px 0; text-indent: 2em; }
.arclist2 { padding-left: 10px; }
.arclist2 li { background: url(../images/lineTitleName.gif) left bottom no-repeat; padding-bottom: 3px; }
.arclist2 li div.title { height: 40px; line-height: 40px; padding-left: 30px; background: url(../images/signNewsList.gif) left -140px no-repeat; font-weight: bold; }
.arclist2 li.hover div.title { background-position: left 11px; }
.arclist2 li div.title a { font-size: 1.2em; }
.arclist2 li div.title span.date { float: right; font-weight: normal; color: #999; }
.arclist2 li p { display: none; padding-bottom: 10px; color: #656565; }
.arclist2 li.hover p { display: block; }
#articeBottom { font-size: 14px; margin: 6px 0 10px; padding-top: 10px; text-align: right; }
.listtt { clear: both; height: 40px; line-height: 40px; font-size: 16px; font-weight: bold; color: #369; padding: 10px 30px 0px 30px; border-bottom: #ccc 1px solid; margin-bottom: 15px; }
.listtt a { font-size: 12px; font-weight: normal; color: #555; float: right; }
#addlist { clear: both; border: #ccc 1px solid; padding: 8px 10px 10px 10px; }
#addlist h2 { border-top: #f8f8f8 1px solid; border-left: #f8f8f8 1px solid; border-bottom: #ddd 1px solid; border-right: #ddd 1px solid; height: 26px; line-height: 26px; text-indent: 20px; font-size: 14px; background: #f6f6f6; }
#addlist ul { padding: 8px 0 0 0; }
#addlist ul li { width: 280px; height: 24px; line-height: 24px; overflow: hidden; float: left; padding: 0 30px 0 12px; background: url(../images/dot.png) 0px 9px no-repeat; }
#addlist ul li a { color: #525252; }
#addlist ul li a:hover { color: #1D52A9; text-decoration: underline; }
.page-num{clear:both; padding:20px 0 30px 0;text-align: center;}
.page-num a{line-height:26px; padding:2px 10px; display:inline-block; margin-right:10px; background:#dedede;color: #222;}
.page-num a:hover,.page-num a.select,.page-num a.active-page{ background:#2eafbb; color:#fff;}


.m-pg-tt { font-size:20px; font-weight:bold; text-align: center;} 
.m-pg-info { font-size:12px; padding: 10px 20px 0 20px; color:#999;text-align: center;}
.m-pg-bd { font-size:14px; line-height:1.8; color:#333;padding:20px 5px;}
.m-pg-bd p{ text-indent: 2em; padding: 0 0 15px 0;}
.m-pg-ln { background-color:#fff; padding:10px; margin-top:10px;}
.m-pg-ln span { color:#666}
.m-pg-ln .last { float:left;}
.m-pg-ln .next { float:right;}
.m-pg-rlt {margin-top:10px; background-color:#fff; padding:10px;}
.m-pg-rlt .tt { font-size:14px; line-height:30px; font-weight:bold}
.m-pg-rlt .tt a { color:#cd1a1c}
.m-pg-rlt .lst { padding-top:5px;}
.m-pg-rlt .lst li { line-height:25px; height:25px;}
.inside_banner img{
	height: 400px;
}
